<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Himalayan Yeti , initial-scale=1.0">
    <title>Himalayan Yeti Foundation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
        </div>

        <div class="list">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="">Contact</a></li>

            </ul>
        </div>
    </nav>

    <div class="box">
        <div class="content">
            <img src="{% static 'img/yeti.png' %}" alt="Yeti">
            <div class="info">
                <h1>About Us</h1><br>
                <p class="cnt">People in the Himalayas believe that there’s a snowman that is covered with brown, grey
                    or
                    white hair and is sometimes depicted as having large, sharp teeth. They call it Yeti, living in
                    Himalayas, thus <strong>Himalayan Yeti!</strong><br>
                    We don’t know, we have never seen a Yeti, but we have seen plastics in the Himalayas, we
                    have seen irresponsible tourists coming in, boozing, partying and imbalancing the natural
                    habitat.<br>
                    What we have also seen is the youth migrating to urban cities leaving behind their land, fertile
                    soil, their problems and hardships, and also their parents.<br>
                    Leaving behind everything can never be questionable, isn’t it? Certainly it is, as what they’ve left
                    is diamond in the search of gold, and today half of them, half of us, you, me all of us, arent
                    happy or satisfied living in the concrete jungles<br>
                    There are ample opportunities available in the rural India which is unexplored and if approached
                    in a righteous way, it can help us reunite rural families and open an array of possibilities and
                    scope for development<br>
                    <strong>Himalayan Yeti</strong>, a section 8 company registered under the companies act of 2013,
                    having 12A
                    and 80G status is a <strong>foundation for meaningful purpose</strong>. The organization was
                    established in
                    2019 by <strong>Nagender Singh </strong>for the sole purpose to fight plastic menace in Ladakh
                    region, but with
                    time, our mission changed and became more holistic.<br>
                    <strong><i>Today our mission is to Bring the Youth Back and help them rehabilitate in their rural
                            villages
                            with their families, and create opportunities for them, so that they can be innovators,
                            entrepreneurs, skilled-professionals, etc.</i></strong><br>
                </p>
            </div>
        </div>
    </div>


    <table>
        <h1 class="heading">Team Members</h1>
        <tr>
            <td class="invisible"></td>
            <td><img src="{% static 'img/nagender.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Nagender Singh</h3>
                    <h5>Co-Founder Director</h5>
                </div>
            </td>
            <td class="invisible"></td>
        </tr>
        <tr>
            <td><img src="{% static 'img/vikram.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Vikram Kothari</h3>
                    <h5>Advisor Director</h5>
                </div>
            </td>
            <td><img src="{% static 'img/vaishali.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Vaishali Thakur</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/shivam.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Shivam Batra</h3>
                    <h5>Founder</h5>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="{% static 'img/arushi.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Aarushi Rishi</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/shifa.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Shifa Rizvi</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/sunny.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Sunny Bisht</h3>
                    <h5>Founder</h5>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="{% static 'img/sanyam.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Sanyam Rastogi</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/megha.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Megha Gupta</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/sushil.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Sushil Kumar</h3>
                    <h5>Founder</h5>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="{% static 'img/bhavit.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Bhavit Pant</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/federico.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Federico Frattini</h3>
                    <h5>Founder</h5>
                </div>
            </td>
            <td><img src="{% static 'img/mukul.png' %}" alt="Photo" width="100px" height="100px;">
                <div class="inf">
                    <h3>Mukul Sharma</h3>
                    <h5>Founder</h5>
                </div>
            </td>
        </tr>
    </table>


    <section class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="widget">
                        <h2>Connect with us</h2>
                        <div class="social">
                            <div class="person">
                                <h4>Nagender Singh</h4><br>
                                <h5>Founder Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+2(305) 587-3407</a><br>
                                <a href="#"><i class="material-icons email"></i>himalayanyetifoundation@gmail.com</a>
                            </div>
                            <div class="person">
                                <h4>Vikram Kothari</h4><br>
                                <h5>Advisor Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+919650933677</a><br>
                                <a href="#"><i class="material-icons email"></i>hyfconsultant@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="widget footer-widget">
                        <h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row media">
                <ul>
                    <li><a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/twitter.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>

</body>

</html>