<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HYF | About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
        </div>

        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="list">
            <!-- <input type="text" placeholder="Type to search"> -->
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'focusArea' %}">Focus Areas</a></li>

            <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
            <li><a href="{% url 'help' %}">Blogs & article</a></li>
        </div>
    </nav>

    <!-- About & storyline of NGO -->
    <div class="about-section">
        <div class="inner-width">
            <h1 class="main-heading">Our Story!</h1>
            <div class="border"></div>
            <div class="about-section-row">
                <div class="about-section-col-a">
                    <div class="about">
                        <p class="paragraph">
                            People in the Himalayas believe that there’s a snowman that is covered with brown, grey or
                            white hair and is sometimes depicted as having large, sharp teeth. They call it Yeti, living
                            in
                            Himalayas, thus <strong>Himalayan Yeti!</strong><br>
                            We don’t know, we have never seen a Yeti, but we have seen plastics in the Himalayas, we
                            have seen irresponsible tourists coming in, boozing, partying and imbalancing the natural
                            habita. What we have also seen is the youth migrating to urban cities leaving behind their
                            land, fertile
                            soil and also their parents. Leaving behind everything can never be questionable, isn’t it?
                            Certainly it is, as what they’ve left
                            is diamond in the search of gold.<br>
                            There are ample opportunities available in the rural India which is unexplored and if
                            approached
                            in a righteous way, it can help us reunite rural families and open an array of possibilities
                            and
                            scope for development.<br>
                            <strong>Himalayan Yeti</strong>, a section 8 company registered under the companies act of
                            2013, having 12A
                            and 80G status is a <strong>foundation for meaningful purpose</strong>. The organization was
                            established in
                            2019 by <strong>Nagender Singh </strong>for the sole purpose to fight plastic menace in
                            Ladakh region, but with
                            time, our mission changed and became more holistic.<br>
                            <strong><i>Today our mission is to Bring the Youth Back and help them rehabilitate in their
                                    rural villages
                                    with their families, and create opportunities for them, so that they can be
                                    innovators,
                                    entrepreneurs, skilled-professionals, etc.</i></strong>
                        </p>
                    </div>
                </div>
                <div class="about-section-col-b">
                    <img src="{% static 'img\yeti.png' %}" alt="Yeti">
                </div>
            </div>
        </div>
    </div>

    <section class="section-vision-mission">
        <h1 class="title-center">Our Vision & Mission</h1>
        <div class="wrapper-line">
            <div class="divider div-transparent div-dot"></div>
        </div>
        <div class="vision-container">
            <section class="hidden-vision">
                <div class="vision-card-container">
                    <div class="vision-card"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url({% static 'img/visionbg.jpg' %}); background-repeat:no-repeat;background-size:100% 100%;">
                        <div class="vision-content-center">
                            <img src="{% static 'img/vision.png' %}" alt="Vision">
                            <h2>Vision</h2>
                            <p>To embrace circularity in India and promote reverse migration by working upon rural
                                development, and sustainable livelihoods</p>
                        </div>
                    </div>

                    <div class="vision-card"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url({% static 'img/missionbg.jpg' %});background-repeat:no-repeat;background-size: 100% 100%;">
                        <div class="vision-content-center">
                            <img src="{% static 'img/mission.png' %}" alt="Vision">
                            <h2>Mission</h2>
                            <p>To impact 5 million people by 2030 and provide them sustainable income soure and a green
                                economy</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>




    <section class="section-team">
        <div class="team-bg"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'img/teambg.jpg' %});background-repeat: no-repeat;width:100;background-size: cover;background-position: center;">
            <h1 class="team-center">Our Team</h1>
        </div>
        <div class="team-container">

            <div class="team-card-container">
                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="{% static 'img/member.jpg' %}" alt="">
                    </div>
                    <div class="team-title">
                        <h1>John Doe</h1>
                    </div>
                    <div class="team-details">
                        <p>Designation</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Impact we created -->

    <script>
        $(document).ready(function () {
            $("#impact-button").click(function () {
                $(".involve").slideToggle("slow");
            });
            $("#impact-button").click(function () {
                $('html,body').animate({
                    scrollTop: $("#impact-button").offset().top
                },
                    'slow');
            });
        });
    </script>




    <div class="button-center">
        <button id="impact-button">Our Projects<span class="">&nbsp;&#8250;&#8250;</span></button>
    </div>
    <div class="project-area">



        {% for prj in project %}
        <div class="project-item">
            <img class="project-item-image" src="{{prj.headerimage.url}}" alt="ni pata kaha guya image">
            <div class="project-item-content">
                <span class="projext-item-content-titel">
                    {{prj.title|slice:":100"}}
                </span>
                <!-- <span class="projext-item-content-text">
                    {{ prj.body|safe|slice:":100" }}...
                </span> -->
            </div>
            <div class="project-item-buttons">
                <a href="{% url 'viewarticle' prj.bid %}" class="learn-more">
                    Learn more &#10172;
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'updatearticle' prj.bid %}" class="edit-btn">
                    &#9998;
                </a>
                <a href="{% url 'deletearticle' prj.bid %}" class="delete-btn">
                    &#128465;
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}




    </div>




    <br>


    <!-- footer -->
    <section class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="widget">
                        <h2>Connect with us</h2>
                        <div class="social">
                            <div class="person">
                                <h4>Nagender Singh</h4><br>
                                <h5>Founder Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+2(305) 587-3407</a><br>
                                <a href="#"><i class="material-icons email"></i>himalayanyetifoundation@gmail.com</a>
                            </div>
                            <div class="person">
                                <h4>Vikram Kothari</h4><br>
                                <h5>Advisor Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+919650933677</a><br>
                                <a href="#"><i class="material-icons email"></i>hyfconsultant@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="widget footer-widget">
                        <h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'help' %}">Blogs</a></li>
                            <li><a href="index#latesthome">Events</a></li>
                            <li><a href="{% url 'testimonial' %}">Testimonial</a></li>
                            <li><a href="csr#logosection">Partners</a></li>
                            <li><a href="#">SDG</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'createuser' %}">Create User</a></li>
                            <li><a href="{% url 'userlogout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'userlogin' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row media">
                <ul>
                    <li><a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/twitter.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>