<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HYF|About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
        </div>

        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="list">
            <!-- <input type="text" placeholder="Type to search"> -->
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'focusArea' %}">Focus Areas</a></li>

            <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
            <li><a href="{% url 'help' %}">Blogs & article</a></li>
        </div>
    </nav>

    <!-- About & storyline of NGO -->
    <div class="about-section">
        <div class="inner-width">
            <h1 class="main-heading">Our Story!</h1>
            <div class="border"></div>
            <div class="about-section-row">
                <div class="about-section-col-a">
                    <div class="about">
                        <p class="paragraph">
                            People in the Himalayas believe that there’s a snowman that is covered with brown, grey or
                            white hair and is sometimes depicted as having large, sharp teeth. They call it Yeti, living
                            in
                            Himalayas, thus <strong>Himalayan Yeti!</strong><br>
                            We don’t know, we have never seen a Yeti, but we have seen plastics in the Himalayas, we
                            have seen irresponsible tourists coming in, boozing, partying and imbalancing the natural
                            habita. What we have also seen is the youth migrating to urban cities leaving behind their
                            land, fertile
                            soil and also their parents. Leaving behind everything can never be questionable, isn’t it?
                            Certainly it is, as what they’ve left
                            is diamond in the search of gold.<br>
                            There are ample opportunities available in the rural India which is unexplored and if
                            approached
                            in a righteous way, it can help us reunite rural families and open an array of possibilities
                            and
                            scope for development.<br>
                            <strong>Himalayan Yeti</strong>, a section 8 company registered under the companies act of
                            2013, having 12A
                            and 80G status is a <strong>foundation for meaningful purpose</strong>. The organization was
                            established in
                            2019 by <strong>Nagender Singh </strong>for the sole purpose to fight plastic menace in
                            Ladakh region, but with
                            time, our mission changed and became more holistic.<br>
                            <strong><i>Today our mission is to Bring the Youth Back and help them rehabilitate in their
                                    rural villages
                                    with their families, and create opportunities for them, so that they can be
                                    innovators,
                                    entrepreneurs, skilled-professionals, etc.</i></strong>
                        </p>
                    </div>
                </div>
                <div class="about-section-col-b">
                    <img src="{% static 'img\yeti.png' %}" alt="Yeti">
                </div>
            </div>
        </div>
    </div>

    <script>

        AOS.init({
            duration: 1200,
        })

    </script>


    <!-- What united us -->
    <div class="united">
        <h1 class="main-heading">What United Us?</h1>
    </div>
    <div class="united-container" id="scroll-to">
        <div class="united-cells" data-aos="flip-left">
            <div class="section-first">
                <img src="{% static 'img\bureaucracy.jpg' %}" alt="ESG">
            </div>
            <div class="section-second">
                <h3>Failed Bureaucracy</h3>
            </div>
        </div>

        <div class="united-cells" data-aos="flip-left">
            <div class="section-first">
                <img src="{% static 'img\corrupt.jpg' %}" alt="ESG">
            </div>
            <div class="section-second">
                <h3> Corrupt Ecosystem </h3>
            </div>
        </div>

        <div class="united-cells" data-aos="flip-left">
            <div class="section-first">
                <img src="{% static 'img\enthusiasm.jpg' %}" alt="ESG">
            </div>
            <div class="section-second">
                <h3>Enthusiasm for Impact </h3>
            </div>
        </div>

        <div class="united-cells" id="fadein-united" data-aos="flip-left">
            <div class="section-first">
                <img src="{% static 'img\esg.jpg' %}" alt="ESG">
            </div>
            <div class="section-second">
                <h3>Alarming ESG related issues</h3>
            </div>
        </div>
    </div>





    <!-- Impact we created -->

    <script>
        $(document).ready(function () {
            $("#impact-button").click(function () {
                $(".involve").slideToggle("slow");
            });
            $("#impact-button").click(function () {
                $('html,body').animate({
                    scrollTop: $("#impact-button").offset().top
                },
                    'slow');
            });
        });
    </script>




    <div class="button-center">
        <button id="impact-button">Impact We Created</button>
    </div>
    <section class="section involve">
        <div class="container">

            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\pagir.png' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\wiproearthian.png' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\tsangda.png' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\cleanindus.jpg' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\kitabokipathshala.jpg' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                        <img src="{% static 'img\kitabokipathshala.jpg' %}" alt="">
                    </div>
                    <div class="title">
                        <h1>Title goes here</h1>
                    </div>
                    <div class="details">
                        <p>Content goes here</p>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- footer -->
    <section class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="widget">
                        <h2>Connect with us</h2>
                        <div class="social">
                            <div class="person">
                                <h4>Nagender Singh</h4><br>
                                <h5>Founder Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+2(305) 587-3407</a><br>
                                <a href="#"><i class="material-icons email"></i>himalayanyetifoundation@gmail.com</a>
                            </div>
                            <div class="person">
                                <h4>Vikram Kothari</h4><br>
                                <h5>Advisor Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+919650933677</a><br>
                                <a href="#"><i class="material-icons email"></i>hyfconsultant@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="widget footer-widget">
                        <h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Testimonial</a></li>
                            <li><a href="csr.html#logosection">Partners</a></li>
                            <li><a href="#">SDG</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'createuser' %}">Create User</a></li>
                            <li><a href="{% url 'userlogout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'userlogin' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row media">
                <ul>
                    <li><a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/twitter.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>