<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Himalayan Yeti Foundation</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
        </div>

        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger"><span class="material-icons">menu</span></label>

        <div class="list">
            <!-- <input type="text" placeholder="Type to search"> -->
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'focusArea' %}">Focus Areas</a></li>
            <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
            <li><a href="{% url 'help' %}">Blogs & article</a></li>
            <li><a href="{% url 'donation' %}" target="_blank" class="btn btn-main animated rounded">Donate Now</a></li>
        </div>
    </nav>

    <!-- slider carousel section -->
    <section class="slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                    <div class="block text-center">
                        <span class="d-block mb-3 text-white text-capitalize">Small help can make change</span>
                        <h1 class="animated fadeInUp mb-4">
                            Himalayan Yeti Foundation
                        </h1>
                        <p class="mb-4">
                            Your small contribution means a lot. Natus officia amet hic <br>
                            accusamus repellat magni reprehenderit dolorem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- problems -->
    <section class="section problems">
        <div class="container">
            <div class="row">
                <div class="tabs">
                    <div class="tab" id="tab1">
                        <h3>Problems of Today</h3>
                        <div class="subpoints">
                            <div class="block" id="pot1">
                                <img src="{% static 'img/pot1.jpg' %}" alt="">
                                <ul>
                                    <li>According to a report by Down to Earth, 5.7% of the senior citizens in India
                                        lives alone
                                    </li>
                                    <li>One of the major reason of elderly living alone is lack of working opportunities
                                        in the hometowns, especially rural</li>
                                </ul>
                            </div>
                            <div class="block" id="pot2">
                                <img src="{% static 'img/pot2.jpg' %}" alt="">
                                <ul>
                                    <li>According to India Skills Report 2022 by Wheebox, only 48.7% of total youth in
                                        India is employable
                                    </li>
                                    <li>75% of companies surveyed reported a skill gap in the industry</li>
                                </ul>
                            </div>
                            <div class="block" id="pot3">
                                <img src="{% static 'img/pot3.jpg' %}" alt="">
                                <ul>
                                    <li>74% Indians suffering from stress, 88% from anxiety
                                    </li>
                                    <li>68.6% therapists reported an increase in the number of people they see on a
                                        daily basis since covid-19 pandemic outbreak
                                    </li>
                                </ul>
                            </div>
                            <div class="block" id="pot4">
                                <img src="{% static 'img/pot4.jpg' %}" alt="">
                                <ul>
                                    <li>Be it municipal waste, plastics or complex waste such as electronic, batteries,
                                        etc., despite all the efforts in policy-making it still seems to be one of the
                                        most challenging times of the Indian history
                                    </li>
                                    <li>According to a report by Niti Aayog, less than 20% of the waste is
                                        treated/recycled in India
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab2">
                        <h3>Problems of Tomorrow</h3>
                        <div class="subpoints">
                            <div class="block" id="potom1">
                                <img src="{% static 'img/potom1.jpg' %}" alt="">
                                <ul>
                                    <li>Lifestyle diseases are breaking all the age barriers, children way below the age
                                        group of 20 are suffering from stress, immune disorders, heartache, blood
                                        pressure, diabetes, etc.</li>
                                    <li>Life expectancy in India is far below the global average, it stands at 69.66
                                        years</li>
                                </ul>
                            </div>
                            <div class="block" id="potom2">
                                <img src="{% static 'img/potom2.jpg' %}" alt="">
                                <ul>
                                    <li>
                                        More complex waste streams are emerging as the older technologies are becoming
                                        obsolete, for instance, India started gearing up for solar and li-ion battery
                                        recycling, though, technologies to 100% recycle them are not yet available
                                    </li>
                                    <li>It is estimated that complex waste will grow 30-fold in next 10 years</li>
                                </ul>
                            </div>
                            <div class="block" id="potom3">
                                <img src="{% static 'img/potom3.jpg' %}" alt="">
                                <ul>
                                    <li>It is estimated that 85% of the jobs that will exist in 2030 haven’t been
                                        invented yet</li>
                                    <li>Employee retention rate is too low and is falling. Companies are unable to spot
                                        talent and even if they find, employees don’t stay
                                    </li>
                                </ul>
                            </div>
                            <div class="block" id="potom4">
                                <img src="{% static 'img/potom4.jpg' %}" alt="">
                                <ul>
                                    <li>We are well aware of the depleting resources, not just that, there’s a urban
                                        housing shortage of 54% which is ever-increasing</li>
                                    <li>Flash floods happening in cities like Gurugram, Bangalore, Chennai, etc. More
                                        than that it’s about traffic, pollution, stress on the urban infrastructure,
                                        etc.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab3">
                        <h3>Problems that never fade out</h3>
                        <div class="subpoints">
                            <div class="block" id="ptnf1">
                                <img src="{% static 'img/ptnfo1.jpg' %}" alt="">
                                <ul>
                                    <li>
                                        By 2030, 50% of India’s population is expected to live in the urban cities
                                        accelerating problems of overcrowding, housing, unemployment, squatter
                                        settlement, transport, sewage, trash, drinking water, pollution, etc.
                                    </li>
                                    <li>
                                        Migrant workers in urban India faces several issues in searching employment,
                                        companies exploit them in wages, insurances etc. and most often they end up in
                                        debts due to high cost of living, etc. </li>
                                </ul>
                            </div>
                            <div class="block" id="ptnf2">
                                <img src="{% static 'img/ptnfo2.jpg' %}" alt="">
                                <ul>
                                    <li>Indian Government is working well in order to design policies (such as extended
                                        producers responsibility, corporate social responsibility, logistics, UPI, etc.
                                        but implementation of it in a country like India is a tedious task due to
                                        various known factors
                                    </li>
                                    <li>Lack of resources and lobbying by the powerful corporate houses is another big
                                        challenge in good governance
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- separator -->
    <!-- <div class="line">
    </div> -->

    <!-- latest section -->
    <section class="section latest">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <span class="heading">Latest Events</span>
                        <!-- <h2 class="mt-3 mb-4 position-relative content-title">Lorem ipsum dolor sit.</h2> -->
                        <!-- <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, maxime earum
                            rem eos dolor voluptates!</p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                {% for event in eventlist %}

                <div class="col-lg-4">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <img src="{{event.headerimage.url}}" class="img-fluid w-100" alt="...">

                            <div class="card-body">
                                <h3 class="mb-3">{{event.title}}</h3>
                                <p class="card-text mb-4">{{ event.body|safe }}</p>

                                {% if user.is_authenticated %}
                                <div class="btndiv">
                                    <a href="{% url 'updatearticle' event.bid %}"
                                        class="btn btn-main primary rounded"><span
                                            class="material-icons">edit</span></a>
                                    <a href="{% url 'deletearticle' event.bid %}"
                                        class="btn btn-main danger rounded"><span
                                            class="material-icons">delete</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-lg-4">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <!-- Copy & Pasted from YouTube -->
                            <iframe class="video" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1"
                                frameborder="0" allowfullscreen></iframe>

                            <div class="card-body">
                                <h3 class="mb-3">Lorem, ipsum dolor.</h3>

                                <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Quaerat expedita totam maiores similique, minima cupiditate.</p>

                                <div class="btndiv">
                                    <button class="btn btn-main primary rounded"><span
                                            class="material-icons">edit</span></button>
                                    <button class="btn btn-main danger rounded"><span
                                            class="material-icons">delete</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters notify">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="card-body">
                                <h3 class="mb-3">To get notify of the Latest Events please enter your email address and
                                    click on subscribe button.</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="email" placeholder="Enter your Email" class="input-email"
                                        name="scrubmail">

                                    <button type="submit" class="btn btn-main rounded">Subscibe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>




    <!-- footer -->
    <section class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="widget">
                        <h2>Connect with us</h2>
                        <div class="social">
                            <div class="person">
                                <h4>Nagender Singh</h4><br>
                                <h5>Founder Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <!-- <a href="#"><i class="material-icons call"></i>+2(305) 587-3407</a><br> -->
                                <a href="#"><i class="material-icons email"></i>himalayanyetifoundation@gmail.com</a>
                            </div>
                            <div class="person">
                                <h4>Vikram Kothari</h4><br>
                                <h5>Advisor Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <!-- <a href="#"><i class="material-icons call"></i>+919650933677</a><br> -->
                                <a href="#"><i class="material-icons email"></i>hyfconsultant@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="widget footer-widget">
                        <h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Testimonial</a></li>
                            <li><a href="csr.html#logosection">Partners</a></li>
                            <li><a href="#">SDG</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'createuser' %}">Create User</a></li>
                            <li><a href="{% url 'userlogout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'userlogin' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row media">
                <ul>
                    <li><a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/twitter.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>