<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Himalayan Yeti Foundation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}" >
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
        </div>

        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="list">
            <input type="text" placeholder="Type to search">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="">Contact</a></li>
        </div>
    </nav>
    <!-- slider carousel section -->
    <section class="slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                    <div class="block text-center">
                        <span class="d-block mb-3 text-white text-capitalize">Small help can make change</span>
                        <h1 class="animated fadeInUp mb-4">
                            Himalayen Yeti <br>
                            Foundation
                        </h1>
                        <p class="mb-4">
                            Your small contribution means a lot. Natus officia amet hic <br>
                            accusamus repellat magni reprehenderit dolorem.
                        </p>
                        <a href="{% url 'donation' %}" target="_blank" class="btn btn-main animated fadeInUp rounded">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- latest section -->
    <section class="section latest">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-7">
                    <div class="section-title text-center">
                        <span class="heading">Latest Events</span>
                        <!-- <h2 class="mt-3 mb-4 position-relative content-title">Lorem ipsum dolor sit.</h2> -->
                        <!-- <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, maxime earum
                            rem eos dolor voluptates!</p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters notify">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="card-body">
                                <h3 class="mb-3">To get notify of the Latest Events please enter your email address and
                                    click on subscribe button.</h3>
                                <input type="email" placeholder="Enter your Email" class="input-email">

                                <a href="" class="btn btn-main rounded">Subscibe</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="card-body">
                                <h3 class="mb-3">Lorem, ipsum dolor.</h3>
                                <p class="card-text mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                                    fugiat necessitatibus molestias quaerat, earum consequuntur!
                                </p>

                                <!-- <a href="donation.html" class="btn btn-main rounded">Donate Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="...">

                            <div class="card-body">
                                <h3 class="mb-3">Lorem, ipsum dolor.</h3>
                                <p class="card-text mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum,
                                    vel dmnfsdn dnf?.</p>

                                <!-- <a href="" class="btn btn-main rounded">Donate Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="...">

                            <div class="card-body">
                                <h3 class="mb-3">Lorem, ipsum dolor.</h3>
                                <p class="card-text mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                                    fugiat necessitatibus molestias quaerat, earum consequuntur!
                                </p>

                                <!-- <a href="donation.html" class="btn btn-main rounded">Donate Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="...">

                            <div class="card-body">
                                <h3 class="mb-3">Lorem, ipsum dolor.</h3>

                                <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Quaerat expedita totam maiores similique, minima cupiditate.</p>

                                <!-- <a href="donation.html" class="btn btn-main rounded">Donate Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- separator -->
    <div class="line">
    </div>
    <!-- urgency section -->
    <section class="section urgency">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <span class="heading">The Urgency</span>
                        <!-- <h2 class="mt-3 mb-4 position-relative content-title">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Officia.</h2> -->
                    </div>
                </div>
            </div>

            <div class="row1 left-border">
                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="card-body cb1">
                                <h1 class="mb-3">Climate Crisis</h3>
                                    <p>Climate crisis is a term describing global warming and climate change, and their
                                        impacts. The term and the alternative term climate emergency have been used to
                                        describe the threat of global warming to humanity (and their planet), and to
                                        urge aggressive climate change mitigation.[1][2][3][4] In the scientific journal
                                        BioScience, a January 2020 article, endorsed by over 11,000 scientists
                                        worldwide, stated that "the climate crisis has arrived" and that an "immense
                                        increase of scale in endeavors to conserve our biosphere is needed to avoid
                                        untold suffering due to the climate crisis.</p>

                                    <!-- <a href="" class="btn btn-main rounded">Subscibe</a> -->
                            </div>
                            <div class="img-body ib1">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Climate_emergency_declaration_map.svg/620px-Climate_emergency_declaration_map.svg.png"
                                    alt="" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row1 right-border">
                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="img-body ib1">
                                <img src="https://media-exp1.licdn.com/dms/image/C4D12AQEghS_M4JgO5A/article-inline_image-shrink_1500_2232/0/1520169990859?e=1675296000&v=beta&t=QaEH66Qxcyxs0p4sE80jwDgg2fT2nQHoq--yzFPJpxA"
                                    alt="" class="img-fluid w-100">
                            </div>
                            <div class="card-body cb1">
                                <h1 class="mb-3">Bad Governance</h3>
                                    <p>Bad governance is the relationship between those who govern and those who are governed as a consequence of decision-making. This unfavourable relationship is created as a consequence of external factors or decisions such as violation of central or acceptable norms, such as those of liberal democracy, and bad economic policy:</p>

                                    <!-- <a href="" class="btn btn-main rounded">Subscibe</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row1 left-border">
                <div class="col-lg-5">
                    <div class="card mb-3 cause-item">
                        <div class="row no-gutters">
                            <!-- <img src="https://mcmscache.epapr.in/post_images/website_350/post_15667588/thumb.jpg"
                                class="img-fluid w-100" alt="..."> -->

                            <div class="card-body cb1">
                                <h1 class="mb-3">Skills Gap</h3>
                                    <p>What is the skills gap? Let's start by exploring what we mean when we use the term skills gap. In short, it's the difference between the skills needed to do a particular job and those that are available.</p>

                                    <!-- <a href="" class="btn btn-main rounded">Subscibe</a> -->
                            </div>
                            <div class="img-body ib1">
                                <img src="https://www.efrontlearning.com/blog/wp-content/uploads/2017/10/Skill-gaps-in-the-workplace.png"
                                    alt="" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- footer -->
    <section class="section footer">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <div class="widget">
                        <h2>Connect with us</h2>
                        <div class="social">
                            <div class="person">
                                <h4>Nagender Singh</h4><br>
                                <h5>Founder Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+2(305) 587-3407</a><br>
                                <a href="#"><i class="material-icons email"></i>himalayanyetifoundation@gmail.com</a>
                            </div>
                            <div class="person">
                                <h4>Vikram Kothari</h4><br>
                                <h5>Advisor Director</h5>
                                <h5>Himalayan Yeti Foundation</h5>
                                <br>
                                <a href="#"><i class="material-icons call"></i>+919650933677</a><br>
                                <a href="#"><i class="material-icons email"></i>hyfconsultant@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="widget footer-widget">
                        <h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Contact</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'createuser' %}">Create User</a></li>
                            <li><a href="{% url 'userlogout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'userlogin' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row media">
                <ul>
                    <li><a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/instagram.svg' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static 'img/twitter.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>