<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}">
  <title>HYF | Login</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <img src="https://s3.ap-south-1.amazonaws.com/assets.ynos.in/startup-logos/YNOS63244.jpg" alt="logo">
    </div>

    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <div class="list">
      <!-- <input type="text" placeholder="Type to search"> -->
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'focusArea' %}">Focus Areas</a></li>
      <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
      <li><a href="{% url 'help' %}">Blogs & article</a></li>
    </div>
  </nav>

  <!-- Alert -->
  {% if Alert %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Warning!</strong> {{Alert}}.
  </div>
  {% endif %}



  <!-- login -->
  <div class="section login">
    <div class="container">
      <div class="row">
        <div class="heading">
          <h1>Login</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <form action="userlogin" class="form" method="post">
            {% csrf_token %}

            <input name="username" type="text" class="name" placeholder="User Name">
            <input name="password" type="password" class="pass" placeholder="Password">
            <button>LOGIN</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>